@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap");

/* .whole-page{
  background: none;
  background-color: #0E0301;
  transition: 2ms;
} */


.about-page{
  color: #dfdfdf;
  margin-top: 100px;
  height: 60vh;
}

.title {
  margin-top: 30px;
  line-height: 1.4em;
  text-align: center;
  font-size: 40px;
  font-family: "Shippori Mincho B1", serif;
}

.about-text{
  max-width: 40%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 18px;
  height: 40vh;
}

@media screen and (max-width: 960px) {
  .about-page{
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .about-text{
    max-width: 90%;
  }
}